{% extends 'layout.html' %}

{% block pageContent %}

<div class="w3-container w3-center" style="padding-bottom: 32px;">
  {% if is_mitarbeiter %}
  {% if mitarbeiter %}
               {% endif %}
 
    


<h2>Mitarbeiter von {{ mitarbeiter.lehrstuhl.name }} :</h2>
<h3>LstID {{ mitarbeiter.lehrstuhl.lehrstuhl_id }} </h3>
    <table class="w3-table w3-striped w3-border">
        <thead>
            <tr>
                <th>ID</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>NDS</th>
                <th>E-Mail</th>
                <th>Themen</th>
            </tr>
        </thead>
        <tbody>
            {% for mitarbeiter in alle_mitarbeiter %}
                <tr>
                    <td>{{ mitarbeiter.ma_id }}</td>
                    <td>{{ mitarbeiter.vorname }}</td>
                    <td>{{ mitarbeiter.nachname }}</td>
                    <td>{{ mitarbeiter.nds }}</td>
                    <td>{{ mitarbeiter.email }}</td>
                    <td>
                    <ul>
                        {% for projekt_betreuer in mitarbeiter.betreute_projekte %}
                            <li>{{ projekt_betreuer.projekt.titel }}</li>
                        {% endfor %}
                    </ul>	 
                      

                        </td>
                </tr>
                
            {% endfor %}
        </tbody>
    </table>

<h3>LstID {{ mitarbeiter.lehrstuhl.lehrstuhl_id }} </h3>

  <h4>Projekte des Lehrstuhls:</h4>
  <table class="w3-table w3-striped w3-border">
  <thead>
    <tr>
      <th>ID</th>
      <th>Titel</th>
      <th>Beschreibung</th>
      <!-- Weitere Spaltenüberschriften hier -->
    </tr>
  </thead>
  <tbody>
    {% for projekt in projekte %}
      <tr>
        <td>{{ projekt.projekt_id }}</td>
        <td>{{ projekt.titel }}</td>
        <td>{{ projekt.beschreibung }}</td>
        <!-- Weitere Projektinformationen hier -->
      </tr>
    {% endfor %}
  </tbody>
</table>


    {% else %}
        <p>Du bist kein Mitarbeiter.</p>
    {% endif %}


{% endblock %}