{% extends 'admin/admin_base.html' %}

{% block body %}
{{ super() }}
<div class="w3-container">

<form action="{{ url_for('bp_admin.admin_schluessel_ausgeben_bestaetigt')}}" method="POST">
    {{ mail_submit_form.hidden_tag() }}
    <p>Name: {{spind.vorname}} {{spind.nachname}}</p>
    <p>{{ mail_submit_form.mail.label }} {{ mail_submit_form.mail() }}</p>
    <p>Spind Nummer: {{spind.nummer}}</p>
    <p>Bezahlt bis: {{spind.bezahlt_bis}}</p>
    <p>Schlüssel Nummer: {{spind.schluessel}}</p>
    {% if correct_key %}
    <p class="w3-text-green">Key is correct</p>
    {% else %}
    <p class="w3-text-red">Wrong Key</p>
    {% endif %}
    <p>
    Zu zahlen ist:
    <br>
    Pfand: 10 Euro 
    <br>
    Miete: {{miete}} Euro
    </p>
    {{ mail_submit_form.submit()}}
</form>
<br>
<a href="{{url_for('bp_admin.admin')}}">Zurück zur Startseite</a>
</div>
{% endblock %}