{% extends 'layout.html' %}

{% block pageContent %}


<!-- Header -->
<div class="w3-container w3-center" style="padding-bottom: 32px;">
    <h1><b>Fehler!</b></h1>
</div>

<div class="w3-panel w3-red">
    <p>Sie haben nicht die benötigten Berechtigungen um diese Seite zu erreichen...</p>
    <p>Wenden Sie sich an die Administration der Seite, falls Sie Hilfe brauchen.</p>
</div> 


<div class="w3-container w3-padding-16">
    <a href="{{ url_for('bp_index.index')}}"
        class="w3-button w3-wiwi-color w3-padding-large w3-large w3-margin-top w3-round">Erneut Versuchen</a>
</div>


{% endblock %}