{% extends 'layout.html' %}

{% block pageContent %}

<!-- Header -->
<div class="w3-container w3-center" style="padding-bottom: 32px;">
  <h1><b>Regeln</b></h1>
</div>

<!-- Information -->
<div class="w3-container w3-white w3-center w3-padding-large">
  dies und das wo liegen die unterschiede blabla bla
</div>



<!-- Note -->
<div class="w3-container w3-center w3-padding-32">
  <h2>Was ist zu Beachten</h2>
  <div class="w3-panel w3-card w3-center">
    <p>
In der ersten Phase können Sie sich für die Teilnahme am theoretischen Seminar registrieren. Dazu füllen Sie bitte das Registrierungs-Formular aus. Nach dem Senden bekommen Sie eine Bestätigungsmail zugeschickt. Nach Abschluss dieser Phase ist keine weitere Nachmeldung mehr möglich.
Mit Beginn der zweiten Phase können Sie sich mit Ihren Zugangsdaten am System anmelden. Jetzt haben Sie die Möglichkeit Ihre bevorzugten Themen zu wählen. Wählen Sie bitte mehrere Themen aus, um die Chance auf eine Zuteilung zu erhöhen.</p>

<p>Jedes Thema kann vom betreuenden Lehrstuhl hinsichtlich der Teilnahme eingeschränkt werden. Erfüllen Sie die entsprechenden Voraussetzungen können Sie sich für das Thema bewerben. Nach der 2. Phase erfolgt die automatisierte Themenvergabe. Jetzt können Sie keine Änderungen mehr an Ihren Wünschen vornehmen. Die Vergabe der Themen erfolgt nicht nach dem "first come, first serve" Prinzip, sondern nach Ihren Präferenzen, Ihren Voraussetzungen und nach dem Zufall. Sind für ein bestimmtes Thema zu viele Studenten angemeldet als Plätze vorhanden sind, so werden Studenten mit der höheren Präferenz bevorzugt. Sind immer noch mehr Studenten als Plätze gelistet, startet der Zufallsgenerator. Jeder Teilnehmer hat die gleiche Chance.</p>

<p>In der 3. Phase haben Sie die Möglichkeit, das Ihnen zugeteilte Thema anzusehen. Sie können dieses wechseln oder ein anderes noch freies Thema wählen. Dabei gilt das "first come, first served" Prinzip. Der Tausch mit einem damit einverstandenen Partner kann nur über die zuständigen Betreuer erfolgen.</p>
  </div>
</div>


{% endblock %}