{% extends 'layout.html' %}

{% block pageContent %}

<!-- Header -->
<div class="w3-container w3-center" style="padding-bottom: 32px;">
    <h1><b>AGB</b></h1>
</div>

<!-- Information -->
<div class="w3-container w3-white w3-center w3-padding-large">
    Allgemeine Geschäftsbedingungen des Mietvertrages zwischen der Universität Regensburg - Juristische und
    Wirtschaftswissenschaftliche Fakultät -(nachstehend als Vermieter bezeichnet) und der/dem Studierenden (nachstehend
    als Mieter bezeichnet).
</div>

<!-- Note -->
<div class="w3-container w3-center w3-padding-32">
    <div class="w3-panel w3-card w3-center">
        <h5><b>§1 - Mietsache</b></h5>
        <p>
            Der Vermieter vermietet den Aufbewahrschrank, Schloss mit Nummer und zwei Schlüsseln.
        </p>
        <h5><b>§2 - Mietzeit</b></h5>
        <p>
            (1) Der Mietvertrag beginnt mit Zahlung der Miete und endet am 31.03. bzw. 30.09. des laufenden Semesters.
            Der Mietvertrag endet stets mit dem Ablauf des Semesters, in dem der Mieter exmatrikuliert wird bzw. sich
            exmatrikuliert. §545 BGB findet keine Anwendung.<br>
            (2) Um den Vertrag zu verlängern, muss der Mieter vor seinem Ende die Miete für den Verlängerungszeitraum
            bei der Fakultätsverwaltung der Wirtschaftswissenschaftlichen Fakultät (im folgenden: Fakultätsverwaltung
            WiWi) unter Vorlage des Studentenausweises für das folgende Semester entrichten.
        </p>
        <h5><b>§3 - Miete, Kaution</b></h5>
        <p>
            Die Miete beträgt 10€ pro Studiensemester bzw. 15€ für zwei Semester und ist im Voraus zusammen mit einer
            unverzinslichen Kaution von 10€ bei der Fakultätsverwaltung WiWi zu entrichten. Bei vorzeitiger Beendigung
            des Mietvertrags wird die Miete für das laufende Semester nicht anteilig zurückerstattet.
        </p>
        <h5><b>§4 - Vertragsgemäße Nutzung und sonstige Pflichten des Mieters</b></h5>
        <p>
            (1) Der Schrank ist pfleglich zu behandeln. Er dient nur der Aufbewahrung von Garderobe und unmittelbar für
            das Studium erforderlichen Gegenständen.<br>
            (2) Der Schrank darf ausschließlich mit dem vermieteten Vorhangschloss verwendet werden. Andere Schlösser
            darf der Vermieter - auch gewaltsam - entfernen. §5 Abs.2 gilt dann entsprechend.<br>
            (3) Eine Untervermietung ist unzulässig.<br>
            (4) Den Verlust des ihm überlassenen Schlosses und/oder Schlüssel hat der Mieter der Fakultätsverwaltung
            WiWi unverzüglich anzuzeigen. Er erhält dann gegen Zahlung von 10€ ein anderes Schloss.<br>
        </p>
        <h5><b>§5 - Rückgabe, Kostenpauschale</b></h5>
        <p>
            (1) Rechtzeitig zum Ablauf der Mietzeit hat der Mieter den Schrank zu räumen und ggf. zu reinigen und
            anschließend die zwei Schlüssel an die Fakultätsverwaltung WiWi unter Beachtung der Bürozeiten zurückzugeben
            (das Schloss verbleibt am Spind). Im Falle einer außerordentlichen fristlosen Kündigung des Mietvertrags hat
            dies binnen 14 Tagen ab Zugang der Kündigung zu geschehen. Nach Überprüfung des Schrankes erhält der Mieter
            die Kaution zurück.<br>
            (2) Verstößt der Mieter gegen Absatz 1, nimmt der Vermieter das Vorhangschloss mittels Generalschlüssels
            oder in anderer Weise ab und räumt den Schrank leer. Der Mieter ist dann zur Zahlung einer Kostenpauschale
            in Höhe von 20€ verpflichtet, soweit er nicht nachweist, dass auf Seiten des Vermieters keine oder
            niedrigere Kosten angefallen sind. Die Rückgabe verwahrter Gegenstände erfolgt nur gegen Zahlung der
            Kostenpauschale. Auf die Kostenpauschale wird die Kaution angerechnet, sofern keine sonstigen Ansprüche des
            Vermieters gegen den Mieter mehr bestehen.<br>
        </p>
    </div>
</div>


{% endblock %}