{% extends 'layout.html' %}

{% block pageContent %}

<!-- Header -->
<div class="w3-container w3-center" style="padding-bottom: 32px;">
    <h1><b>Impressum</b></h1>
</div>

<!-- Note -->
<div class="w3-container w3-center w3-padding-32">
    <div class="w3-panel w3-card w3-center">
        <h5><b>Herausgeber</b></h5>
        <p>Wirtschaftswissenschaftliche Fakultät der Universität Regensburg<br>
            93040 Regensburg<br>
            Email: spinde.team@wiwi.uni-regensburg.de<br>
            Telefax: (0941) 943 - 4752<br>
            Internet: <a href="http://www.uni-regensburg.de/wirtschaftswissenschaften/fakultaet/">Fakultätswebsite</a>
        </p>
        <h5><b>Hauptverantwortlicher</b></h5>
        <p>Das Dekanat der Wirtschaftswissenschaftlichen Fakultaet<br>
            <a href="https://www.uni-regensburg.de/wirtschaftswissenschaften/fakultaet/fakultaet/dekanat/dekanat/">Siehe
                hier</a>
        </p>

        <h5><b>Redaktion / Text</b></h5>
        <p>VB Regensburg</p>
    </div>
</div>


{% endblock %}